div#banner {
   width: 100%;
   position:  fixed;
   top: 0;
   left: 0;
   background-color: black;
}
div#navbar h2 {
    color: white;
    text-align: center;
    background-color: black;
    padding: 0;
    list-style-type: none;
    top: 
    
}